/* Alles auf 0 setzen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  /* Hier ist das Bild wieder im Body */
  background-image: url("/Background_NYC.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white; /* Damit man Text auf dem Bild lesen kann */
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}
